
<!-- <table>
  <tr>
    <th>Rows</th>
    <th>Columns</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grids.each do |grid| %>
  <tr>
    <td><%= grid.rows %></td>
    <td><%= grid.columns %></td>
    <td><%= grid.player_id %></td>
    <td><%= link_to 'Show', grid %></td>
    <td><%= link_to 'Edit', edit_grid_path(grid) %></td>
    <td><%= link_to 'Destroy', grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grid', new_grid_path %> -->