

<% if player_signed_in? %>

    <% if current_player.game.nil? %>
        <% #if the player doesn't belong to a game, then he can create a game or join an existing one%>

        <ol>
          <li>Create a new game for your friends to join. Or</li>
          <li>Join a game that has already been created by one of your friends.</li>
        </ol>

        <div class = "index_option">
            <h2>Create a new game:</h2>
            <%= form_for :new_game, url: new_game_path(current_player.id) do |f| %>

                <label class = 'index_option_control'>Number of players</label>
                <%= f.text_field :number_of_players, :class => 'index_option_control' %>

                <%= f.submit "Create game", :class => 'index_option_control' %>
            <% end %>
        </div>

        <% if @existing_games.size > 0 %>
            <div class = "index_option">
                <h2>Join an existing game:</h2>
                <ol>
                    <% @existing_games.each do |game| %>
                        <li><%=	link_to "#{game.creator}'s game", join_game_path(game.id) %></li>
                    <% end %>
                </ol>
            </div>
        <% end %>


    <% else %>
        <% #if the player belongs to a game, depending on the status of the game: %>
        <% if current_player.game.game_status == "waiting"%>
            <p>
              <%=	link_to 'Wait for other players to join my game', waiting_path %>
            </p>

        <% elsif current_player.game.game_status == "arrange_ships"%>
            <p>
              <%=	link_to 'Arrange Ships', arrange_ships_path(current_player.id) %>
            </p>
        <% elsif current_player.game.game_status == "in_game"%>
            <p>
              <%=	link_to 'Play!', play_path(current_player.id) %>
            </p>
        <% end %>


    <% end %>

<% else %>

    <ol>
      <li>Login.</li>
      <li>Create or join a game.</li>
      <li>Start playing!</li>
    </ol>

<% end %>