
<h1>Play</h1>

<div id="turn_info">

</div>

<div id="player_in_turn_info">

</div>


<%= form_tag(:controller => "games", :action => "calculate_hits", :method => "post", remote: true) do %>
  <%= hidden_field :player_id, :value => "??" %> 
  <%= label_tag(:x, "Attack coordinates X:") %>
  <%= text_field_tag(:x) %>
  <%= label_tag(:y, "Attack coordinates Y:") %>
  <%= text_field_tag(:y) %>
  <%= submit_tag("Attack") %>
<% end %>



